.HeaderCard 
	margin-top: -4rem;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 30px;
	margin-bottom: 4rem;

@media screen and (min-width: 768px) 
	.HeaderCard 
		margin-top: -4rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;


@media screen and (min-width: 1024px) 
	.HeaderCard 
		margin-top: -4rem;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 30px;

.BodyOverview h2 
	margin-bottom: 2rem;

.BodyCard 
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 30px;
	margin-bottom: 5rem;

@media screen and (min-width: 850px) 
	.BodyCard 
		grid-template-columns: repeat(3, 1fr);	

@media screen and (min-width: 1200px) 
	.BodyCard 
		grid-template-columns: repeat(4, 1fr);
