.CardSmall
	background-color: var(--DesaturatedCardBG);
	color: var(--text);
	border-radius: .5rem;
	padding: 1rem 2rem;

.CardSmallContent,
.CardSmallHead
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-weight: 700;

.CardSmallHead
	color: var(--DesaturatedText);
	margin-bottom: 1rem;
	font-size: 1rem;

.CardSmallNumber
	font-size: 3em;

.CardSmallNumberPorcent
	display: flex;
	align-items: center;
	font-size: .8em;

.Positive
	color: var(--LimeGreen);

.Negative
	color: var(--BrightRed);

.CardSmallNumberPorcent img
	margin-right: .5rem;
