.header 
	width: 100%;
	background-color: var(--VeryTopBGPattern);
	padding-top: 2rem;
	padding-bottom: 6rem;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;


.header_text_content 
	border-bottom: .1px solid var(--DesaturatedText);
	padding-bottom: 2rem;


.head_title 
	font-size: 1.8rem;
	font-weight: 700;
	margin-bottom: .5rem;


.head_subtitle 
	color: var(--DesaturatedText);
	font-weight: 700;


.change_color 
	color: var(--DesaturatedText);
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
	font-weight: 700;


.change_color p 
	margin-right: 1rem;


.checkbox 
	display: none;


.switch 
	height: 40px;
	display: block;
	border-radius: 20px;
	width: 80px;
	padding: 5px;
	box-sizing: border-box;
	cursor: pointer;
	user-select: none;
	background: var(--Toggle);


.switch::before 
	content: '';
	display: block;
	background-color: #ffffff;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	transform: translateX(40px);
	transition: .3s;


.checkbox:checked ~ .switch:before 
	transform: translateX(0);


@media screen and (min-width: 768px) 
	.header 
		padding-bottom: 8rem;
	

	.header_content 
		display: grid;
		grid-template-columns: 1fr 200px;
	

	.header_text_content 
		border-bottom: none;
		padding-bottom: 0;
	

	.change_color 
		margin-top: 0;
	

